<div class="center jumbotron title">
  <h1>研究機材を一緒に買おう</h1>
  <p>欲しい機材を記入して、仲間の投資を待つだけ</p>
</div>
<% breadcrumb :aboutus %>
<div class="aboutus_content">
  <h2>最新の更新</h2>
  <div>
      <% latest_update.each do |update|%>
          <div class="panel panel-primary"><%= update[:created_at] %>更新</div>
          <span><%= update[:title] %></span>
          <span><%= update[:content] %></span>
    <% end %>
  </div>
      <h2>最新の機材で研究がしたい</h2>
<div  class="description">
      <p>新しい顕微鏡があればもっと研究が進むのに・・・</p>
      <p>機材とお金の悩みはどこの研究室でも同じもの。</p>
      <p>特に予算の限られた分野での機材老朽化は深刻です。</p>
      <p>限られた予算でも、みんなで合わせれば大きな力になります。</p>
</div>
      <h2>別に毎日使うわけじゃないし</h2>
<div  class="description">
      <p>研究機材の中には、ほんの数回使えれば十分なものも多くあります。</p>
      <p>限られた予算の中で、無駄遣いをしてしまった経験はみなさんあるのではないでしょうか。</p>
      <p>ある大学では顕微鏡が豪華で、ある大学では遠心分離機だけは最新・・・。</p>
      <p>これ、みんなで協力すれば幸せになれないでしょうか？</p>
</div>
    <h2>欲しい機材を共同購入する案件を作りましょう</h2>
<div  class="description">
    <p>登録なら無料なので、まずは欲しい機材の名前だけでも書いて見ましょう。</p>
    <p>案外簡単に、仲間が見つかって、研究を大きく進めるきっかけになるかもしれませんよ。</p>
</div>
    <div class="register_or_create">
        <% if logged_in? %>
          <div class="row">
            <div>
              <h2>お気に入りユーザーの募集</h2>
              <%= render 'shared/feed' %>
            </div>
          </div>
          <h2>早速、欲しい機材で募集をしよう</h2>
          <section class="review_form">
            <%= render 'shared/review_form' %>
          </section>
          <% else %>
          <div class="text-center">
            <span>会員登録が必須となります</span>
            <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
          </div>
        <% end %>
    </div>
</div>
</div>
