<div class="center jumbotron title">
  <h1>研究機材を一緒に買おう</h1>
  <p>欲しい機材を記入して、仲間の投資を待つだけ</p>
</div>

<div class="text-center description">
  <p>本サイトでは、機材購入する研究者がマッチングします。自由に欲しい機材名と必要金額・自身が出せる金額を起票してください。</p>
  <p>案件に対し、コメントと入札ができます。機材の利用方法は自由ですが、決定できない場合、支出額に基づいて運営がルール設定します。</p>
  <p>入札額の合計が必要金額に達した際、運営が銀行振込の依頼をメールします。振込後、事務手数料2%を引いて、購入手続きを運営が行います。</p>
  <p class="pr">※ ご友人を紹介頂き、ご友人のアカウント名を問合せフォームより申請頂ければ、手数料を90%OFFにさせて頂きます。</p>
</div>

<div class="register_or_create">
    <% if logged_in? %>
      <div class="row">
        <div>
          <h2>お気に入りユーザーの募集</h2>
          <%= render 'shared/feed' %>
        </div>
      </div>
      <h2>早速、欲しい機材で募集をしよう</h2>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
      <% else %>
      <div class="text-center">
        <span>会員登録が必須となります</span>
        <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
      </div>
    <% end %>
</div>

<div class="element_box">
  <h2>最近登録された機材</h2>
  <div class="container">
    <div class="row row-eq-height">
      <% latest_item.each do |latest_item|%>
        <%= render latest_item %>
        <% end %>
<div class="text-right">
  <%= link_to "商品一覧へ", items_url ,:class => "change-view" %>
</div>
</div>
</div>
</div>

    <h2>新着の募集</h2>
    <ul class="list-group">
        <% latest_review.each do |latest_review|%>
        <li class="list-group-item active">
          <%= link_to latest_review.item.title, latest_review.item %>
        </li>
        <%= render latest_review %>
          <% end %>
      </ul>
