<li id="comment-<%= comment.id %>" class="list-group-item">
  <span class="user">
    <%= link_to comment.user.name, comment.user %>
  </span>
  <div class="content">
    <%= comment.content %>
  </div>
  <span class="timestamp">
    <%= time_ago_in_words(comment.created_at) %> ago
    <% if current_user?(comment.user) %>
      <%= link_to "delete", comment, method: :delete,
                                       data: { confirm: "削除しますか？" } %>
    <% end %>

  </span>
</li>
