<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>研究の専攻から探す</h1>
<ul class="list-group">
  <% breadcrumb :types %>
    <% @types.each do |type| %>
        <li class="list-group-item">
          <%= link_to type.name, type %>
          (<%= type.items.count %>)
        <% if logged_in? && current_user.admin?%>
          | <%= link_to 'Edit', edit_type_path(type) %>
          | <%= link_to "delete", type, method: :delete,
                                        data: { confirm: "本当に削除しますか" } %>
        <% end %>
        </li>
    <% end %>
</ul>
</div>
