<% provide(:title, @type.name) %>
<div class="page-header">
  <h1><%= @type.name %>の関連商品一覧 (<%= @type.items.count %>)</h1>
</div>
  <% breadcrumb :type, @type %>
<p class="description"> <%= @type.description %></p>
<% if @type.items.any? %>
<div class="container">
  <ul class="row row-eq-height">
    <%= render @items %>
  </ul>
</div>
  <%= will_paginate @items %>
<% end %>
