<% if logged_in? %>
<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "参加コメントまたは質問を記入してください" %>
    <%= f.number_field :price, placeholder: "支払い可能額を記入してください。質問は記入なし" %>
    <%= f.hidden_field :review_id, value: review.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<% else %>
<div class="text-right">
  <span>質問・入札には会員登録が必要です</span>
  <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
</div>
<% end %>
