<%= javascript_include_tag "autocomp" %>

<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <span>タイトル</span>
    <%= f.text_area :title, placeholder: "分かりやすい案件タイトルをつけてください" %>
    <span>応募文</span>
    <%= f.text_area :content, placeholder: "出せる上限金額や設置予定場所など、条件の詳細を書いてください" %>
    <span>対象の機材</span>
    <%= f.text_field :item_id, class: "form-control typeahead", id: "item_title" %>

    <span>必要金額・購入価格</span>
    <%= f.number_field :point %>
    <span>自身が払える金額</span>
    <%= f.number_field :payment %>

  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
