<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>機材名から案件を探す・作る</h1>
</div>
  <% breadcrumb :items %>
<div class="container">
  <ul class="row row-eq-height">
      <%= render @items %>
</ul>
</div>
