<% provide(:title, @item.title) %>
<div class="page-header">
  <h1><%= @item.title %></h1>
</div>
<% breadcrumb :item, @item %>
<div class="container">
<div class="row">
<ul class="list-group col-xs-12 col-lg-8">
  <li class="list-group-item">
    <span><%= @item.description %></span>
  </li>
  <li class="list-group-item">
    <span class="topic">著者</span>
    <span><%= @item.author %></span>
  </li>
  <li class="list-group-item">
    <span class="topic">出版社・提供</span>
    <span><%= @item.company %></span>
  </li>
  <li class="list-group-item">
    <span class="topic">新品価格</span>
    <span><%= @item.price %></span>
  </li>
</ul>
<ul class="list-group col-xs-12 col-lg-4">
  <% if @item[:photo].blank? %>
   <%= image_tag "noimg.jpg" , :class => "img-responsive"%>
  <% else %>
   <%= image_tag @item[:photo] , :class => "img-responsive"%>
  <% end %>
</ul>
</div>

    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <section class="review_form">
            <%= render 'shared/review_form' %>
          </section>
        </aside>
      </div>
      <% else %>
      <div class="text-right">
        <span>募集の作成には会員登録が必要です</span>
        <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
      </div>
    <% end %>

  <% if @item.reviews.any? %>
    <h3><%= @item.title %>の募集 (<%= @item.reviews.count %>)</h3>
    <ul class="list-group">
      <%= render @reviews %>
    </ol>
    <%= will_paginate @reviews %>
  <% end %>
</ul>
</div>
