<div class="page-header">
<h1>確認：以下の内容で送信します</h1>
</div>
<%= form_for @contact, :url => contact_thanks_path do |f| %>
  <table>
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :name %>
        <%= @contact.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@contact.message) %>
      </td>
    </tr>
  </table>
 <%= f.submit '送信' %>
<% end %>
