@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html{
  background-color: rgb(200,200,200);
}

h2{
position: relative;
display: inline-block;
padding: 0 55px;
margin-left: auto;
}

h2:before, h2:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 45px;
height: 1px;
background-color: black;
}

h2:before {left:0;}
h2:after {right: 0;}

.hdbar{
display: flex;
flex-direction: row;
justify-content: space-between;
}

p.pr{
  color:red;
}
div.description{
  background-color: #FAFAFA;
  padding:10px;
  width:80%;
  margin:10px auto;
}

.register_or_create{
  margin:10px 0px;
}

body {
  padding-top: 35px;
  font-family:  'Noto Sans Japanese',   sans-serif;
}

.aboutus_content{
  text-align: center;
}

#logo{
  font-size: 30px;
  line-height:60px;
  color: white;
}
.title{
  background-image: url("books2.jpg");
	background-color: rgba(0,0,0,1);
  h1{
    color:#FAFAFA;
  }
  p{
    background-color: #FAFAFA;
    padding:10px;
    letter-spacing: 1.5px;
    line-height: 3rem;
  }
}
.page-header{
  h1{
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
  }
  margin-bottom: 10px;
}

.text-right{
  display: block;
  width:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.change-view {
position: relative;
padding-right: 25px;
}

.change-view:before {
position: absolute;
content: '';
bottom: -3px;
right: 0;
width: 0;
height: 0;
border: none;
border-right: solid 15px transparent;
border-bottom: solid 15px rgb(119, 195, 223);
}
.change-view:after {
position: absolute;
content: '';
bottom: -3px;
right: 10px;
width: 100%;
border-bottom: solid 3px rgb(119, 195, 223);
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.element_box{
  margin:3px 15px;
  padding:3px 15px;
}

.reviews {
  background: white;
  display: flex;
  flex-direction: column;
  border: solid,2px;
  text-align: left;
  margin:5px;
}

.item_list{
box-shadow: 0 1px 4px rgba(0,0,0,0.2);
display: flex;
flex-direction: column;
h3{
  font-size: 18px;
  color:rgb(100,100,100);
  margin-top: 0px;
  background-color: #FAFAFA;
  padding: 0.5em 5px;
  border-bottom: solid 3px #fafafa;
}
.bookinfo{
  background-color: #FAFAFA;
  margin: 5px;
  padding: 5px;
  div{
    border-bottom: solid 1px rgb(100,100,100);
  }
}
}
.list-group{
  .topic{
    width:20%;
    display: inline-block;
  }
  .img-responsive{
    margin: 0px auto;
  }
  .main-title{
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #7db4e6;
    border-bottom: 1px solid #7db4e6;
  }
  .sub-element{
    margin: 5px;
    padding: 5px;
    background-color: #FAFAFA;
  }
  .description{
    margin: 5px;
    padding: 5px;
    background-color: #FAFAFA;
  }
}
.tagging{
  margin-bottom: 5px;
  span {
  margin:5px 3px;
  position: relative;
  background: #f1f8ff;
  padding: 0.25em 0.5em;
  border-left: solid 2em #5c9ee7;
  }

  span:before {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: normal;
  left: -1.35em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
    padding:0px;
}

.review_content{
  background-color: #FAFAFA;
  margin: 20px;
  padding:10px;
}

section.comment_form{
  margin: 20px;
}

.footer {
  width: 100%;
  padding:30px 0px;
  background-color: rgb(200,200,200);
  a{
    text-align: center;
  }
}
