<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>機材カテゴリー（顕微鏡・冷凍庫など）から探す</h1>
</div>
  <% breadcrumb :categories %>
<ul class="list-group">
    <% @categories.each do |category| %>
        <li class="list-group-item">
          <%= link_to category.name, category %>
          (<%= category.items.count %>)
        <% if logged_in? && current_user.admin?%>
          | <%= link_to 'Edit', edit_category_path(category) %>
          | <%= link_to "delete", category, method: :delete,
                                        data: { confirm: "本当に削除しますか" } %>
        <% end %>
        </li>
    <% end %>
  </ul>
