<% provide(:title, @review.title + @review.item.title) %>
<div class="page-header">
  <h1><%= @review.title %></h1>
</div>
<% breadcrumb :review, @review %>
<ul class="list-group">
  <li class="list-group-item">
    <span>必要金額</span>
    <span><%= @review.point %></span>
  </li>
  <li class="list-group-item">
    <span>集まった金額</span>
    <span><%= @review.payment + @sum %></span>
  </li>
  <li class="list-group-item">
    <span>達成率</span>
    <span><%= ((@review.payment + @sum)*100 / @review.point) %>%</span>
  </li>
  <li class="list-group-item">
    <span>購入機材</span>
    <span><%= @review.item.title %></span>
  </li>
  <li class="list-group-item">
    <span>発案者</span>
    <span><%= @review.user.name %></span>
  </li>
</ul>
<%= simple_format(@review.content, class:"review_content")%>
<%= image_tag @review.picture.url if @review.picture? %>
<% if @review.comments.any? %>
  <h3><%= @review.title %>へのコメント (<%= @review.comments.count %>)</h3>
  <ul class="list-group">
    <%= render @comments %>
  </ol>
  <%= will_paginate @comments %>
<% end %>
<section class="comment_form">
  <%= render 'shared/comment_form', review: @review %>
</section>
