<footer class="footer">
  <div class="container">
    <p class="text-muted">研究機材.comは個人によって運営されています</p>
    <div class="row">
      <a class="col-xs-3 col-lg-2" href="/aboutus">
        本サイトについて
      </a>
      <a class="col-xs-3 col-lg-2" href="/contact">
        お問い合わせ
      </a>
      <a class="col-xs-3 col-lg-2" href="/items">
        機材一覧
      </a>
      <a class="col-xs-3 col-lg-2" href="/categories">
        機材カテゴリー
      </a>
      <a class="col-xs-3 col-lg-2" href="/types">
        専攻一覧
      </a>
    </div>
  </div>
</footer>
