<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container hdbar">
    <div><%= link_to "機材募集.com", root_path, id: "logo" %></div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs"><%= link_to "機材一覧", "/items" %></li>
        <li class="hidden-xs"><%= link_to "募集案件", "/reviews" %></li>
        <li class="hidden-xs"><%= link_to "機材カテゴリーから探す", "/categories" %></li>
        <li class="hidden-xs"><%= link_to "専攻で探す", "/types" %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="hidden-xs"><%= link_to "機材一覧", "/items" %></li>
              <li class="hidden-xs"><%= link_to "募集案件", "/reviews" %></li>
              <li class="hidden-xs"><%= link_to "機材カテゴリーから探す", "/categories" %></li>
              <li class="hidden-xs"><%= link_to "専攻で探す", "/types" %></li>
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li><%= link_to "ユーザー一覧", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="hidden-xs"><%= link_to "ログイン", login_path %></li>
          <li class="hidden-xs"><%= link_to "会員登録", signup_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              メニュー <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "タイトル一覧", "/items" %></li>
              <li class="visible-xs"><%= link_to "レビュー", "/reviews" %></li>
              <li class="visible-xs"><%= link_to "カテゴリーから探す", "/categories" %></li>
              <li class="visible-xs"><%= link_to "媒体で探す", "/types" %></li>
              <li class="divider"></li>
              <li class="visible-xs"><%= link_to "ログイン", login_path %></li>
              <li class="visible-xs"><%= link_to "会員登録", signup_path %></li>
            </ul>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
